@model MVCRSProject.Models.Review

@{
    ViewBag.Title = "Details";
}

<div class="details">
    <h2>Details</h2>

    <div>
        <h4>Review</h4>
        <hr />
        <div class="col-sm-6 col-md-4">
            <div class="container-fluid reviewdetails">
                
                    <div class="caption text-center">
                        <h3>@Html.DisplayNameFor(model => model.Category.Name)</h3>
                        <h4><i>@Html.DisplayFor(model => model.Category.Name)</i></h4>
                        <h3>@Html.DisplayNameFor(model => model.Title)</h3>
                        <h4><i>@Html.DisplayFor(model => model.Title)</i></h4>
                        <h3>@Html.DisplayNameFor(model => model.Rating)</h3>
                        <h4><i>@Html.DisplayFor(model => model.Rating)</i></h4>
                        <h3>@Html.DisplayNameFor(model => model.Content)</h3>
                        <h4><i>@Html.DisplayFor(model => model.Content)</i></h4>
                        <h3>@Html.DisplayNameFor(model => model.PublishedDate)</h3>
                        <h4><i>@Html.DisplayFor(model => model.PublishedDate)</i></h4>

                       
                        
                    </div>
                
            </div>
        </div>
        @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Category.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublishedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublishedDate)
            </dd>

        </dl>*@
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
